:root {
  /* color palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --sky-light-blue: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #eeba72;
  --light-purple: #9792e4;

  /* web-site specific */
  --primary-white: #eaeaea;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * main */

.app-container {
  /* background-color: var(--aubergine); */
  height: calc(100vh - 4rem);
  margin: 2rem 6rem;
}

.contact-container,
.chat-container {
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
}

/* contact container */

.contact-container {
  border-right: 2px solid var(--black);
}

.contact-container .account {
}

.contact-container .notification,
.account,
.search {
  height: 4rem;
}

.contact-container .search {
}

.contact-container .contacts {
  background-color: var(--blue);
  height: 100%;
}

/* chat container */

.chat-container {
}

.chat-container .chat {
  height: 100%;
  background-color: var(--aubergine);
}

.chat-container .active-contact {
  height: 4rem;
  background-color: var(--light-blue);
}

.chat-container .chat-input {
  height: 5rem;
  background-color: var(--light-purple);
}
